{% extends 'knowledgebase/partials/kb_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.tab {display:none;}
</style>
<body>
  <br />
  <br />
  <br />
  <div class="header">
    <h1 class="w3-animate-left">Knowledgebase</h1>
  </div>

  <div class="row">
    <div class="col-3 menu">
      <ul>
        <li class="tablink" onclick="openTab(event, 'Documents')">Documentations</li>
        <li class="tablink" onclick="openTab(event, 'Tutorials')">Tutorials</li>
        <li class="tablink" onclick="openTab(event, 'Resources')">Resources</li>
      </ul>
    </div>

    <!--
      Documents Tab Panel
    -->
    <div id="Documents" class="tab w3-animate-left">
      <div class="col-6">
        <h1 class="w3-xxxlarge w3-text-white w3-black w3-padding">Documentations</h1>
        <div class="w3-black w3-card w3-padding">
        {% for doc in documents %}

          <div class="w3-card-4 w3-border-left w3-border-white">
            <a class="postlink" href="{% url 'document-detail' doc.pk %}">
              <header class="w3-container w3-teal w3-round-large">
                <h4 class="postlink">{{ doc.document_title }}</h4>
              </header>
            </a>
              <div class="w3-container w3-white w3-round-large">
                <p>{{ doc.document_content|safe }}</p>
              </div>

          </div>
          <br/>
        {% endfor %}
        </div>
      </div>

      <div class="col-3 right">
        <div class="aside">
          <h2>Documentation Links</h2>
          
          <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-black w3-round">Create</button>
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4">
              <header class="w3-container w3-teal"> 
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>Add New Document</h2>
              </header>
              <div class="w3-container">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                </form>

              </div>
                <footer class="w3-container w3-teal w3-padding">
                  <button type="button" class="w3-btn w3-gray w3-round" data-bs-dismiss="modal">Close</button>
                  <button class="w3-btn w3-black w3-round">Submit</button>
                </footer>
            </div>
          </div>

          <p>View List</p>
          <p>Postgre</p>
        </div>
      </div>
    </div>
    
    <!--
      Tutorials Tab Panel
    -->
    <div id="Tutorials" class="tab w3-animate-left">
      <div class="col-6">
        <h1 class="w3-xxxlarge w3-text-white w3-black w3-padding">Tutorials</h1>
        <div class="w3-black w3-card w3-padding">
        {% for cat in categories %}
          <p class="w3-text-white">{{cat.tutorial_category}}</p>
        {% endfor %}
        </div>
      </div>

      <div class="col-3 right">
        <div class="aside">
          <h2>Tutorial Tags</h2>
          <p>Python</p>
          <p>Java</p>
          <p>Postgre</p>
        </div>
      </div>
    </div>
  
    <!--
      Resources Tab Panel
    -->
    <div id="Resources" class="tab w3-animate-left">
      <div class="col-6">
        <h1 class="w3-xxxlarge w3-text-white w3-black w3-padding">Resources</h1>
        <div class="w3-black w3-card w3-padding">
          <p class="w3-text-white">KB Resources Panel [Under Construction]</p>
        </div>
      </div>

      <div class="col-3 right">
        <div class="aside">
          <h2>Official Resources</h2>
          <p><a href="https://www.python.org/">Python</a></p>
          <p><a href="https://pypi.org/">Python Packaging Index</a></p>
          <p>Postgre</p>
        </div>
      </div>
    </div>
    

  </div>
    <br/>
    <br/>
    <br/>
    <br/>

<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>
</body>
{% endblock %}

