{% extends 'knowledgebase/partials/kb_base.html' %}
{% load static %}

{% block content %}
<style>
.tab {display:none;}
</style>
<body>
  <br />
  <br />
  <br />
  <div class="header">
    <h1>Knowledgebase</h1>
  </div>

  <div class="row">
    <div class="col-3 menu">
      <ul>
        <li class="tablink" onclick="openTab(event, 'Documents')">Documentations</li>
        <li class="tablink" onclick="openTab(event, 'Tutorials')">Tutorials</li>
        <li class="tablink" onclick="openTab(event, 'Resources')">Resources</li>
      </ul>
    </div>

    <div id="Documents" class="tab w3-animate-left">
      <div class="col-6">
        <h1 class="w3-xxxlarge w3-text-white w3-black w3-padding">Documentations</h1>
        <div class="w3-black w3-card w3-padding">
        {% for doc in documents %}

          <div class="w3-card-4 w3-border-left w3-border-white">
            <a class="postlink" href="{% url 'document-detail' doc.pk %}">
              <header class="w3-container w3-teal w3-round-large">
                <h4 class="postlink">{{ doc.document_title }}</h4>
              </header>
            </a>
              <div class="w3-container w3-white w3-round-large">
                <p>{{ doc.document_content|safe }}</p>
              </div>

          </div>
          <br/>
        {% endfor %}
        </div>
      </div>

      <div class="col-3 right">
        <div class="aside">
          <h2>Documentation Tags</h2>
          <p>Python</p>
          <p>Java</p>
          <p>Postgre</p>
        </div>
      </div>
    </div>
    
    
    <div id="Tutorials" class="tab w3-animate-left">
      <div class="col-6">
        <h1 class="w3-xxxlarge w3-text-white w3-black w3-padding">Tutorials</h1>
        <div class="w3-black w3-card w3-padding">
        {% for cat in categories %}
          <p class="w3-text-white">{{cat.tutorial_category}}</p>
        {% endfor %}
        </div>
      </div>

      <div class="col-3 right">
        <div class="aside">
          <h2>Tutorial Tags</h2>
          <p>Python</p>
          <p>Java</p>
          <p>Postgre</p>
        </div>
      </div>
    </div>
  
    
    <div id="Resources" class="tab w3-animate-left">
      <div class="col-6">
        <h1 class="w3-xxxlarge w3-text-white w3-black w3-padding">Resources</h1>
        <div class="w3-black w3-card w3-padding">
          <p class="w3-text-white">KB Resources Panel [Under Construction]</p>
        </div>
      </div>

      <div class="col-3 right">
        <div class="aside">
          <h2>Official Resources</h2>
          <p><a href="https://www.python.org/">Python</a></p>
          <p><a href="https://pypi.org/">Python Packaging Index</a></p>
          <p>Postgre</p>
        </div>
      </div>
    </div>
    

  </div>
    <br/>
    <br/>
    <br/>
    <br/>

<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>
</body>
{% endblock %}

