{% load static %}

<div class="w3-bar w3-black w3-top">
  <a href="/" class="w3-bar-item w3-button"><img class="header-logo-image" width="32" height="34" src="{% static 'dist/images/alcawyz_logo.png' %}" alt="Logo"></a>
  <a href="/" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-teal w3-hover-text-teal">Home</a>
  <a href="{% url 'kb_index' %}" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-teal w3-hover-text-teal">KB</a>
  <a href="{% url 'portfolio' %}" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-teal w3-hover-text-teal">Portfolio</a>
</div>